# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://fhnvljrsbzwlsnpzdvle.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wRC772mtQa2enlgbA5mtTw_ViGKLvkR
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_wRC772mtQa2enlgbA5mtTw_ViGKLvkR
